<div class="title">
  <h2><%= @article.title %></h2>
  <%= link_to 'edit', edit_article_path(@article) %>
  <%= link_to "delete",
            article_path(@article),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
</div>

<hr>

<p><%= @article.content %></p>